*
!mods/
!mods/**/*
!resources/
!resources/**/*
!resourcepacks/
!resourcepacks/**/*
mods/litematica*.jar
mods/replaymod*.jar
mods/worldedit*.jar
!config/fancymenu/
!config/fancymenu/**/*
!config/drippyloadingscreen/
!config/drippyloadingscreen/**/*