*
!config/fancymenu/
!config/fancymenu/**/*
!mods/
!mods/**/*
!resourcepacks/
!resourcepacks/**/*
!config/drippyloadingscreen/
!config/drippyloadingscreen/**/*
!config/inventoryprofilesnext/inventoryprofiles.json
!config/mobhealthbar-client.toml
!config/replaymod.json
!config/simple-rpc/simple-rpc.toml
!config/waila/waila_plugins.json
!config/waila/blacklist.json
!config/worldedit/worldedit.properties
!journeymap/config/**/journeymap.minimap.config
**/*
mods/ReplayMod*
mods/worldedit*
